{% extends 'base.html' %}
{% block content %}



{% for item in cart %}


<div class="card" style = " margin-bottom: 1%; margin-right: 19%; margin-left: 19%;">
  <div class="card-body">

      <div class="row">
        <div class="col-sm-3 ">
          <div id = "cart_image"><img src = {{item.product.product_image.url}} height ="70px" width= "90px"></div>
        </div>



        <div class="col-sm-3 ">
          {{item.product.name}}
        </div>


        <div class="col-sm-3 ">
          {{item.product.price}}
        </div>

        <div class="col-sm-3 ">
          
          <div class=" product_data">
            
               
               
               
                    <form action="#" class="cart-quantity">
                        {% csrf_token %}
                        <input type="hidden" value="{{ products.id }}" class="prod_id" id="product_id"> 
                        
                        <div class="quantity">
                            <label>Quantity</label>
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box qty-input" value="1" type="text">
                                <button class="dec qtybutton"><i class="fa fa-angle-down"></i></button >
                                <button  class="inc qtybutton"><i class="fa fa-angle-up"></i></button >
                            </div>
                        </div>
                        {% comment %} {% if products.quantity > 0   %}
                        <button class="add-to-cart addToCartBtn" type="submit">Add to cart</button>
                        {% endif    %} {% endcomment %}
                    </form>
                </div>

            
                
                
                

        </div>


      </div>
    </div>

</div>



{% endfor %}



{% endblock %}