{% extends 'base.html' %}

{% block content %}
  
 {% comment %}  <p>Hi {{ user.username }}!</p> {% endcomment %}

  {% comment %} {{category}} {% endcomment %}


  

<!-- Header Bottom Area End Here -->
<!-- Begin Mobile Menu Area -->
<div class="mobile-menu-area d-lg-none d-xl-none col-12">
    <div class="container"> 
        <div class="row">
            <div class="mobile-menu">
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu Area End Here -->
</header>
<!-- Header Area End Here -->
<!-- Begin Slider With Category Menu Area -->
<div class="slider-with-banner">
<div class="container">
    <div class="row">
        <!-- Begin Category Menu Area -->
        <div class="col-lg-3">
            <!--Category Menu Start-->
            <div class="category-menu">
                <div class="category-heading">
                    <h2 class="categories-toggle"><span>categories</span></h2>
                </div>
                <div id="cate-toggle" class="category-menu-list">
                  
                  
                    <ul>
                      {% for item in category  %}                        
                        <li><a href="{% url 'collectionsview' item.slug %}"> {{ item.name }} </a></li>
                        {% comment %} <li><a href="#">Alcohol</a></li>
                        <li><a href="#">Soda</a></li>
                        <li><a href="#">Cocktail</a></li>
                        <li><a href="#">Fresh Juice</a></li>
                        <li><a href="#">Energy Drink</a></li> {% endcomment %}
                        {% endfor %}
                        <li class="rx-child"><a href="#">Not yet available, sorry!</a></li>
                        <li class="rx-child"><a href="#">Not yet available, sorry!</a></li>
                        <li class="rx-parent">
                            <a class="rx-default">More Categories</a>
                            <a class="rx-show">Less Categories</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Category Menu End-->
        </div>
        <!-- Category Menu Area End Here -->
        <!-- Begin Slider Area -->
        <div class="col-lg-9" >
            <div class="slider-area pt-sm-30 pt-xs-301" >
                <div class="slider-active owl-carousel">
                    <!-- Begin Single Slide Area -->
                    <div class="single-slide align-center-left animation-style-02 bg-4"
                     style="background-image: url(image/freshjuice.jpg);   " >
                        <div class="slider-progress"></div>
                        <div class="slider-content" style="color: #fff !important; ">
                            <h5 style="color: #000 !important;">Sale Offer <span>-20% Off</span> This Week</h5>
                            <h2>JUICE</h2>
                            <h3>Starting at <span> <strong> Ksh 150</span> </strong></h3>
                            <div class="default-btn slide-btn">
                                <a class="links" href="shop-left-sidebar.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Slide Area End Here -->
                    <!-- Begin Single Slide Area -->
                    <div class="single-slide align-center-left animation-style-01 bg-5"  style="background-image: url(image/alcohol.jpg);   "  >
                        <div class="slider-progress"></div>
                        <div class="slider-content" style="color: #fff !important;">
                            <h5>Sale Offer <span>Black Friday</span> This Week</h5>
                            <h2>ALCOHOL</h2>
                            <h3>Starting at <span>Ksh 250</span></h3>
                            <div class="default-btn slide-btn">
                                <a class="links" href="shop-left-sidebar.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Slide Area End Here -->
                    <!-- Begin Single Slide Area -->
                    <div class="single-slide align-center-left animation-style-02 bg-6" style="background-image: url(image/cokecans.jpg);   "  >
                        <div class="slider-progress"></div>
                        <div class="slider-content" style="color: #fff !important;">
                            <h5>Sale Offer <span>-10% Off</span> This Week</h5>
                            <h2>SODA</h2>
                            <h3>Starting at <span>Ksh 70</span></h3>
                            <div class="default-btn slide-btn">
                                <a class="links" href="shop-left-sidebar.html">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Slide Area End Here -->
                </div>
            </div>
        </div>
        <!-- Slider Area End Here -->
    </div>
</div>
</div>
<!-- Slider With Category Menu Area End Here -->



<section class="product-area li-laptop-product Special-product pt-60 pb-45">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Section Area -->
                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span> Categories</span>
                                </h2>
                            </div>
                            <div class="row">
                                <div class="special-product-active owl-carousel">
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        
                                        <!-- single-product-wrap end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Li's Section Area End Here -->
                    </div>
                </div>
            </section>

            <div class="container-fluid">
  
              <div class="row">
                <div class="col" style="background-color:lavender;">

                
                </div>
                <div class="col" style="background-color:orange;">.col</div>
                <div class="col" style="background-color:lavender;">.col</div>
              </div>
            </div>

{% for item in category  %}


  </a>



      <div class="row" >
          <div class=" col-md-3 " style="display: inline-block"> 

            <div class="container">
              <a href=" {% url 'collectionsview' item.slug %}">
              <div class="card" style="width:200px">
                <img class="card-img-top" src="{{ item.image.url }}" alt="Card image" style="width:100%">
                <div class="card-body">
                  
                  <p class="card-text">
                    {{ item.name }}
                  </p>
                 
                </div>
              </div>
            </a>
              
              
              
            </div>
            
          </div>
        
      </div>
    </div>
  </section>

  {% endfor %}
 

 





  {% endblock content %}